body {
	min-height: 100vh;
	background : url(/images/site/bg-home.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: white;
	
}

.c-main-content {
	height: 50vh;
}

.c-has-content {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}