<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Abel|Open+Sans+Condensed:300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/main.css" th:href="@{css/main.css}">
<link rel="icon" href="/images/site/fco.svg" th:href="@{images/site/fco.svg}" sizes="any" type="image/svg+xml">
<title th:text="${title}">HPK GOAT</title>
</head>
<body>
	<div class="navbar justify-content-between">
		<p><img src="/images/site/brand-image.png" th:src="@{/images/site/brand-image.png}" title="Brand Image" alt="brand-image" class="brand-image">HPK Goat</p>
		<ul class="my-nav">
			<li><a href="/home" th:href="@{/home}">Home</a></li>
			<li><a href="/profile" th:href="@{/profile}" class="active">Profile</a></li>
			<li><a href="/projects" th:href="@{/projects}">Projects</a></li>
			<li><a href="/galleries" th:href="@{/galleries}">Galleries</a></li>
			<li><a href="/blog" th:href="@{/blog}">Blog</a></li>
		</ul>
	</div>
	<div class="container-fluid c-profile">
		<h1 th:text="${title}" class="c-main-heading">HPK
			GOAT</h1>
		<hr>
		<div class="row">
			<div class="col-md-12">
				<!-- Intro Div -->
				<h2 class="sub-heading">Introduction</h2>
			</div>
			<div class="col-md-12">
				<h2 class="sub-heading">Education</h2>
				<div class="education">
					<!-- Start of Education Div -->
					<h3>BSc. Business Computing - Dublin Institute of Technology</h3>
					<p>Attended from 2012 to 2016. This was a tough course! This is
						not just from a personal perspective but history. We were told
						that our year was the biggest to graduate that course and we were
						only 14 of us, out of 50 or so starters from first year.</p>
					<p>As you can see third year was the real deal and we had four
						months less dedicated to Work Experience. So not only did we have
						th most number of modules out of any year but we had less time for
						them.</p>
					<p>Had to quit work for that year because there was just no
						time! It was a challenging year!
					<p>
					<div>
						<!-- Start of uni education div-->
						<table class="table table-hover table-bordered">
							<thead>
								<tr>
									<th>YEAR 1</th>
									<th>YEAR 2</th>
								<tr>
							</thead>
							<tbody>
								<tr>
									<td>Basic Statistics</td>
									<td>Advanced Databases</td>
								</tr>
								<tr>
									<td>Communications</td>
									<td>Algorithms and Data Structures I</td>
								</tr>
								<tr>
									<td>Financial Accounting</td>
									<td>Algorithims and Data Structures II</td>
								</tr>
								<tr>
									<td>Computing & Multimedia</td>
									<td>Database Fundamentals</td>
								</tr>
								<tr>
									<td>Marketing</td>
									<td>Finance</td>
								</tr>
								<tr>
									<td>Object Oriented Software Development I</td>
									<td>Inferential Statistics</td>
								</tr>
								<tr>
									<td>Principles of Management I</td>
									<td>Management Accounting</td>
								</tr>
								<tr>
									<td>Problem Solving & Design</td>
									<td>Object Oriented Software Develoment II</td>
								</tr>
								<tr>
									<td>Quantiative Methods</td>
									<td>Object Oriented Software Develoment III</td>
								</tr>
								<tr>
									<td>Technology Fundamentals</td>
									<td>Organisational Behaviour</td>
								</tr>
								<tr>
									<td></td>
									<td>Supply Chain Management</td>
								</tr>
								<tr>
									<td></td>
									<td>Supply Chain Methods</td>
								</tr>
							</tbody>
						</table>
						<table class="table table-hover table-bordered">
							<thead>
								<tr>
									<th>YEAR 3</th>
									<th>YEAR 4</th>
								<tr>
							</thead>
							<tbody>
								<tr>
									<td>Business Modelling</td>
									<td>Distributed Systems</td>
								</tr>
								<tr>
									<td>Communications and Teamwork</td>
									<td>Final Year Project</td>
								</tr>
								<tr>
									<td>Dynamic rogramming Language</td>
									<td>Software Quality Assurance</td>
								</tr>
								<tr>
									<td>Enterprise Database Systems</td>
									<td>Strategic Information Systems</td>
								</tr>
								<tr>
									<td>Information Management</td>
									<td>Strategic Management</td>
								</tr>
								<tr>
									<td>Project Management</td>
									<td>Mobile Application Development Android</td>
								</tr>
								<tr>
									<td>Java Web Develoment I</td>
									<td>Software Patterns</td>
								</tr>
								<tr>
									<td>Business Decision Making</td>
									<td id="sp-rows"></td>
								</tr>
								<tr>
									<td>Client Side Web Develoment</td>
									<td></td>
								</tr>
								<tr>
									<td>Entrepreneurship</td>
									<td></td>
								</tr>
								<tr>
									<td>Management of Information Systems</td>
									<td></td>
								</tr>
								<tr>
									<td>Organisational Change</td>
									<td></td>
								</tr>
								<tr>
									<td>Study Abroad or Work Experience</td>
									<td></td>
								</tr>
								<tr>
									<td>Java Web Development II</td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- End of Uni education Div -->
					<h3>Level 5 and Level 6 Certificates - Pearse College Dublin</h3>
					<p>After some time since Leaving Cert, I had to get back in
						form in order to apply for college throug hthe CAO and this
						Vacational College was the right move.</p>
					<p>It helped me get my brain back into that conditioning and in
						addition it helped me get those qualifications necessary to
						re-etner IT Undergrad course</p>
					<div>
						<!-- Start of Level 6 div -->
						<table class="table table-hover table-bordered">
							<thead>
								<tr>
									<th>Business Through Computing (5)</th>
									<th>Advanced Computer Skills (6)</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Speadsheet Methods</td>
									<td>Payroll</td>
								</tr>
								<tr>
									<td>Web Authoring</td>
									<td>Word Processing</td>
								</tr>
								<tr>
									<td>The Internet</td>
									<td>Relational Databases</td>
								</tr>
								<tr>
									<td>Communications</td>
									<td>Professional Presentation</td>
								</tr>
								<tr>
									<td>Payroll</td>
									<td>Business Management</td>
								</tr>
								<tr>
									<td>Book Keeping</td>
									<td>Communications</td>
								</tr>
								<tr>
									<td>eBusiness Studies</td>
									<td>Work Experience</td>
								</tr>
								<tr>
									<td>Work Experience</td>
									<td>Train the Trainer</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- End of Level 6 div -->
					<h3>Leaving Certificate - Templeogue College</h3>
					<p>High School was a tough time. Not only had I just come into
						a different culture but I had to skip two years of High School
						from when I was back in my country. If that was not enough, the
						standards were of course very different.</p>
					<p>Not only did I have to get used to the way people spoke here
						in Ireland, not only did I have a limited level of English, but I
						had to learn subjects that were way too advanced for my level!</p>
					<p>To no surprise, I had to repeat the Leaving Certificate exam
						for Mathematics, well, repeat a whole year. The surprise was that
						I aced my Transition Year!</p>
					<div>
						<!-- Start of leaving cert div -->
						<table class="table table-hover table-bordered">
							<thead>
								<tr>
									<th>SUBJECT</th>
									<th>LEVEL</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Maths</td>
									<td>Ordinary</td>
								</tr>
								<tr>
									<td>English</td>
									<td>Ordinary</td>
								</tr>
								<tr>
									<td>Physics</td>
									<td>Advanced</td>
								</tr>
								<tr>
									<td>Chemistry</td>
									<td>Advanced</td>
								</tr>
								<tr>
									<td>Biology</td>
									<td>Advanced</td>
								</tr>
								<tr>
									<td>French</td>
									<td>Advanced</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- End of leaving cert div -->
				</div>
			</div>
			<!-- End of education div -->
			<div class="col-md-12">
				<h2 class="page-sub-title">Skills</h2>
			</div>
			<div class="col-md-12">
				<h2 class="page-sub-title">Projects</h2>
			</div>
			<div class="col-md-12">
				<h2 class="page-sub-title">Hobbies</h2>
			</div>
		</div>
	</div>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script src="/js/main.js" th:src="@{js/main.js}"></script>
</body>
</html>